.parallax {
    background-image: url("https://static.mundodasmensagens.com/upload/listas/m/e/mensagens-de-amizade-O7Ka3-cfxl.png");
  
    min-height: 400px;
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

 