<!--Carousel-->

<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100 img-fluid" src="assets/solid.jpg" alt="Primeiro Slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 img-fluid" src="assets/download.jpg" alt="Segundo Slide">
      </div>
      <div class="carousel-item">
        <img class="d-block w-100 img-fluid" src="assets/car.jpg" alt="Terceiro Slide">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Próximo</span>
    </a>
  </div>

  <!--Cards/Produtos-->
<div class="container">
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Título do card</h5>
        <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior, para demonstração.</p>
      </div>
      <a href="#" class="btn btn-primary">Doar</a>
    </div>


    <div class="card">
      <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">50 cadernos escolares</h5>
        <h6>ONG: Blábláblá </h6>
        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia alias quae beatae eligendi voluptates, accusamus repellat nostrum animi dolores? Quos aliquam expedita quod laboriosam magni doloremque eius ratione commodi nesciunt?</p>
      </div>
    <a href="#" class="btn btn-primary">Doar</a>
    


    </div>
  </div>
</div>

<div class="container">
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">Título do card</h5>
        <p class="card-text">Este é um card maior com suporte a texto embaixo, que funciona como uma introdução a um conteúdo adicional. Este conteúdo é um pouco maior, para demonstração.</p>
      </div>
      <a href="#" class="btn btn-primary">Doar</a>
    </div>


    <div class="card">
      <img class="card-img-top" src=".../100px180/" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title">50 cadernos escolares</h5>
        <h6>ONG: Blábláblá </h6>
        <p class="card-text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Officia alias quae beatae eligendi voluptates, accusamus repellat nostrum animi dolores? Quos aliquam expedita quod laboriosam magni doloremque eius ratione commodi nesciunt?</p>
      </div>
    <a href="#" class="btn btn-primary">Doar</a>
    


    </div>
  </div>
</div>

  

  <!--Cards/ doadores do mês-->
<div class="jumbotron bg-primary">
  <div class="container">

    <h2 class="container d-flex justify-content-center">Doadores do mês:</h2>
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="assets/itau-logo.jpg" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title text-center">2 lugar</h5>
        <p class="card-text">Doou não sei quantos reais em produtos, para não sei quantas ONGs!</p>
       
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/Totvs-3.jpg" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title text-center">1 lugar</h5>
        <p class="card-text">Doou não sei quantos reais em produtos, para não sei quantas ONGs!</p>
        
      </div>
    </div>
    <div class="card">
      <img class="card-img-top" src="assets/movile.png" alt="Imagem de capa do card">
      <div class="card-body">
        <h5 class="card-title text-center">3 lugar</h5>
        <p class="card-text">Doou não sei quantos reais em produtos, para não sei quantas ONGs!</p>
        
      </div>
     </div>
    </div>
  </div>
</div>


